/* REGION FONT FACE ===================== */
@font-face {
    src:url('../fonts/opensans.woff');
    font-family:'opensans';
}
@font-face {
    src:url('../fonts/opensansbold.woff');
    font-family:'opensansbold';
}
@font-face {
    src:url('../fonts/opensansextrabold.woff');
    font-family:'opensansextrabold';
}
@font-face {
    src:url('../fonts/opensanslight.woff');
    font-family:'opensanslight';
}
/* ENDREGION */

/*REGION SHARED CLASS*/
* {box-sizing: border-box;}
a {color:inherit; text-decoration: none;}
body { font-family:'opensans', helvetica, verdana, arial, sans-serif; margin:0; padding:0; font-size:14px; color:#333;}

.grid {width:100%; max-width:1200px; margin:auto; padding-left:1em; padding-right:1em;}
.half {width:50%; max-width:600px;}
.unpadded {padding:0px !important;}
.unfloat {clear:both;}
.hidden {display:none;}
.input {border-radius:3px; border:1px solid #AAAAAA; padding:0.25em 0.7em; margin:0px; font-size:1em; height:2em;}

.button {border-radius:3px; padding:0.5em 1em; background:#00B2D9; color:#FFFFFF; cursor:pointer;}
.button:hover {background:#0094B6;}
/*ENDREGION*/

/*REGION HEADER*/
#header {width:100%; position:relative; z-index:99; padding:1em 0em 0em; box-shadow:0px 3px 10px #BABABA;}
#header .grid {background-image:url(../img/cloud.png); background-size:contain; background-position:top center; background-repeat:no-repeat; padding: 1.5em 1em 0em; position:relative;}

#logo {margin-bottom:0.5em;}
#logo img {height:3.5em;}

#userspace {font-size:0.9em; position:absolute; top:0px; right:0px; text-align:right; color:#FFFFFF;}
#userspace .cart {background:#00B2D9; border-radius:3px; padding:0.3em 1em 0.3em 3em; display:inline-block; margin-bottom:0.5em; background-image:url(../img/carticon.png); background-size:contain; background-repeat:no-repeat; background-position:left 0.5em center;}
#userspace .user {background:#00B2D9; border-radius:3px; padding:0.3em 1em; display:inline-block; margin-bottom:0.5em;}

#nav {width:100%; background:none; color:#00B2D9; position:relative;}
#nav .item {float:left; font-size:1em; padding:0.42em 1em; cursor:pointer;}
#nav .item:hover, #nav .item.active {border-bottom:3px solid #00B2D9;}

#banner-container {width:100%; margin:auto; background:#CCCCCC; position:relative; z-index:90;}
#banner-container img {width:100%; background:#333333; margin-bottom:-4px;}
/*ENDREGION*/

#category-home {text-align:center; color:#FFFFFF; margin:auto; background:#EEEEEE; box-shadow:0px 0px 4px #AAAAAA; position:relative; z-index:99; padding:1em 0em; margin-bottom:0.5em;}
#category-home .item {width:300px; min-width:25%; max-width:50%; display:inline-block; margin-left:-0.15em; margin-right:-0.15em; padding:0em 1em; cursor:pointer;}
#category-home .item div {border-radius:7.5px; height:50px; background:#00B2D9; padding:0.5em 0.75em;}
#category-home .item div:hover {background:#0094B6;}

.showcase-container {display:inline-block; margin-right:-0.15em;  vertical-align:top;}

.showcase {width:100%; border-radius:7.5px; }
.showcase .title {color:#00B2D9; border-bottom:3px solid #00B2D9; padding:0.5em; text-align:center; font-weight:bold;}

.showcase>.container {padding:0.5em 0px;}
.showcase>.container .item {width:20%; text-align:center; display:inline-block; margin-right:-0.3em; padding:0.5em 0.5em; vertical-align:bottom;}
.showcase>.container .item>.wrapper {border-radius:3px; border:0px solid #00B2D9;}
.showcase>.container .item img {background:#777777; max-width:100%; border-radius:3px 3px 0px 0px;}
.showcase>.container .item .name {font-weight:bold;}
.showcase>.container .detail-btn {border-radius:0px 0px 0px 3px; width:50%; float:left;}
.showcase>.container .order-btn {border-radius:0px 0px 3px 0px; width:50%; float:left;}

.showcase .detail-container {z-index:9999999; background:rgba(0,0,0,0.8); width:100%; height:100%; position:fixed; top:0px; left:0px;}
.showcase .detail-container .prev-btn {color:#FFFFFF; position:fixed; top:40%; height:10%; left:15%; font-weight:bolder; font-size:70px;}
.showcase .detail-container .next-btn {color:#FFFFFF; position:fixed; top:40%; height:10%; right:15%; font-weight:bolder; font-size:70px;}
.showcase .detail {text-align:center; height:90%; width:50% !important; margin:2.5% auto; padding:1em; background:#FFFFFF; border-radius:5px;}
.showcase .detail img {height:100%;}
.showcase .detail .close-btn {display:inline-block; border-radius:5px; padding:0.5em 1em; background:#FF0000; color:#FFFFFF; margin:0.5em auto; cursor:pointer;}
.showcase .detail .close-btn:hover {background:#330000;}

.orderbox-container {background:#F3F3F3; text-align:center; border-top:3px solid #00B2D9;}
.orderbox-container .title {background:#00B2D9; padding:0.2em; font-size:0.85em; color:#FFFFFF; margin:auto; border-radius:0px 0px 3px 3px;}

#orderbox {padding:1em 0px;}
#orderbox .order>.wrapper {border-radius:3px; border:1px solid #00B2D9;}
#orderbox .order{position:relative; display:inline-block; margin-right:1em; margin-bottom:1em; width:15%;}
#orderbox .order img, #orderbox .order input{ margin-bottom:0.5em; border-radius:5px; width:100%;}

#orderbox .order .remove-btn {border-radius:50%; width:1.5em; height:1.5em; color:#FFFFFF; background:#FF0000; font-weight:bold; position:absolute; right:0px; top:0px; cursor:pointer;}
#orderbox .order .remove-btn:hover {background:#330000}

#showcases-prod .filter .item {display:inline-block;}

#footer {margin-top:1.5em;}

#footer .content {background:#00B2D9; color:#FFFFFF; text-align:center;}
#footer .content .logo {padding:1.5em;}
#footer .content .menu .group {display:inline-block; margin:0em 0.5em 1.5em; vertical-align: top;}
#footer .content .menu .group .item {padding:0.3em; text-align:left; font-size:0.9em;}
#footer .content .menu .group .item.header {font-weight:bold; font-size:1em;}